body {
	font-family: "helvetica", "sans-serif";
	font-size: 13px;
	margin: 0; padding: 0;
	background: #EBEBEB;
}

/* UTILITIES */
.indent { margin-left: 25px; }
.indent2 { margin-left: 50px; }
code,
.code { display: block; padding:4px; border:1px solid #999; background: #EEE; font-family: 'courier new' monospace; }
.red {color: red;} .blue {color: blue;}
.green {color: green;}
.gray {color: gray;}
.right {text-align: right;}
.justify {text-align: justify;}
.clear { clear: both; }

/* LAYOUT */
.page-wrapper {

	position: absolute;
	top: 10px; bottom: 10px;
	left: 10px; right: 10px;

	max-width: 960px;
	min-width: 560px;

	margin: 10px auto;

	background: #FAFAFA;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px #555;
	overflow: hidden;

}

.page-logo {
	position: absolute;
	top: 20px;
	left: 5px;
	width: 15%;
}

.page-menu {
	position: absolute;
	top: 0px; left: 0; bottom: 0;
	border-right: 1px solid #DDD;
	width: 16%;
	padding-top: 70px;
	display: inline-block;
	vertical-align: top;
}

.main-menu a {
	display: block;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding: 3px 0;
	padding-left: 8px;
	border: 1px solid transparent;
}

.main-menu a:hover {
	border-right: 0;
}

.main-menu a.normal {
	color: #333;

	border: 1px solid #67aed8;
	background-color: #d8eaf3;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	color: #3985a8;
	text-shadow: 0 1px #fff;

}

.main-menu a.pink {
	color: #fd0083;
	text-shadow: 0 1px #fff;
	border: 1px solid #ff9fd1;
	background-color: #ffcae6;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffcae6, 0 0 3px #ffb9de;
	-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffcae6, 0 0 3px #ffb9de;
	-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffcae6, 0 0 3px #ffb9de;
	-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffcae6, 0 0 3px #ffb9de;
}

.main-menu a.black {
	color: #FFF;
	text-shadow: 0 1px #333;
	border: 1px solid #333;
	background-color: #333;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #333, 0 0 3px #333;
	-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #333, 0 0 3px #333;
	-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #333, 0 0 3px #333;
	-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #333, 0 0 3px #333;
}

.main-menu a.active {
	border-radius: 0 10px 10px 0;
	margin-left: 0;
	margin-right: -10px;
}



.page-content {
	position: absolute;
	top: 0; left: 16.1%; right: 0;
	bottom: 28px;
	padding: 0 10px;
}

.page-content a.existe {
	color: blue;
}

.page-content a.noexiste {
	color: gray;
}

.page-content h1 {
	font-size: 2em;
	margin: 16px 5px 4px 5px;
	padding: 3px 12px;

	border: 1px solid #67aed8;
	background-color: #d8eaf3;
	border-radius: 10px;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe3ef, 0 0 3px #d8eaf3;
	color: #3985a8;
	text-shadow: 0 1px #fff;

}
.page-content h2 {
	font-size: 1.8em;
	margin: 8px 0 4px 0;
}
.page-content h3 {
	font-size: 1.5em;
	margin: 8px 0 4px 0;
}

.page-footer {
	position: absolute;
	bottom: 0; left: 16%; right: 0;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	background: #EEE;
	-webkit-border-radius: 0 0 6px 6px;

}
.page-footer a{color: #222; text-decoration: none;}


#PageEditForm {
	padding: 16px;
}

#PageEditForm label {
	display: block;
	margin: 5px auto;
	font-weight: bold;
	font-size: 1.4em;
	color: #abadb3;
}

#PageEditForm input[type="text"] {
	border: 1px solid #abadb3;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	background: #FFF;
	margin: 5px auto;
	margin-bottom: 25px;
	color: darkblue;
	padding: 3px;
}

#PageEditForm input[type="text"] {
	font-size: 1.3em;
}

#PageEditForm input[type="submit"] {
	font-weight: bold;
}

#PageEditForm .markItUp  {
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

#PageEditForm .markItUpEditor {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0;
}

.page-wrapper .saving {
	display: block;
	width: 90%;
	margin: 0px auto;
	padding: 10px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #444;
	background: #F8F2E5;
	-webkit-border-radius: 0 0 12px 12px
}

.page-content hr {
    margin: 5px 0;
    height: 1px;
	border: 0;
    background: #abadb3;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fafafa), to(#fafafa), color-stop(50%, #abadb3));
}

.content-body {
	position: absolute;
	left: 15px; top: 70px; bottom: 20px; right: 20px;
	padding: 0 5px;
	overflow: auto;
}

.content-footer {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	color: #555;
	font-size: 0.8em;
	text-align: right;
	padding: 3px;
    background: #abadb3;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fafafa), to(#fafafa), color-stop(50%, #67aed8));
	border-top: 1px solid #67aed8;
	border-bottom: 1px solid #67aed8;
}

.page-menu-credits {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding: 4px 0;
	font-size: 0.8em;
	color: #999;
}

.page-menu-credits a {
	color: #999;
	text-decoration: none;
}

.page-footer-options {
	float: left;
}

.page-footer-credits {
	float: right;
}

.wiki-edit-button {
	float: right;
	width: 32px;
	height: 32px;
	margin-top: -38px;
	margin-right: 16px;
	background: transparent url('../img/axialis-web20-basic/Blue/pen.png') no-repeat 0 0;
}