.icon-16.n1{ background-position: 0 0; width: 16px; height: 16px; }
.icon-16.n2{ background-position: -17px 0; width: 16px; height: 16px; }
.icon-16.n3{ background-position: -34px 0; width: 16px; height: 16px; }
.icon-16.n4{ background-position: -51px 0; width: 16px; height: 16px; }
.icon-16.n5{ background-position: -68px 0; width: 16px; height: 16px; }
.icon-16.n6{ background-position: -85px 0; width: 16px; height: 16px; }
.icon-16.n7{ background-position: -102px 0; width: 16px; height: 16px; }
.icon-16.n8{ background-position: -119px 0; width: 16px; height: 16px; }
.icon-16.n9{ background-position: -136px 0; width: 16px; height: 16px; }
.icon-16.Alarme{ background-position: -153px 0; width: 16px; height: 16px; }
.icon-16.Ampersand{ background-position: -170px 0; width: 16px; height: 16px; }
.icon-16.Application{ background-position: -187px 0; width: 16px; height: 16px; }
.icon-16.Applications{ background-position: -204px 0; width: 16px; height: 16px; }
.icon-16.Arrow1Down{ background-position: -221px 0; width: 16px; height: 16px; }
.icon-16.Arrow1DownLeft{ background-position: -238px 0; width: 16px; height: 16px; }
.icon-16.Arrow1DownRight{ background-position: -255px 0; width: 16px; height: 16px; }
.icon-16.Arrow1Left{ background-position: -272px 0; width: 16px; height: 16px; }
.icon-16.Arrow1Right{ background-position: -289px 0; width: 16px; height: 16px; }
.icon-16.Arrow1Up{ background-position: -306px 0; width: 16px; height: 16px; }
.icon-16.Arrow1UpLeft{ background-position: -323px 0; width: 16px; height: 16px; }
.icon-16.Arrow1UpRight{ background-position: -340px 0; width: 16px; height: 16px; }
.icon-16.Arrow2Down{ background-position: -357px 0; width: 16px; height: 16px; }
.icon-16.Arrow2DownLeft{ background-position: -374px 0; width: 16px; height: 16px; }
.icon-16.Arrow2DownRight{ background-position: -391px 0; width: 16px; height: 16px; }
.icon-16.Arrow2Left{ background-position: -408px 0; width: 16px; height: 16px; }
.icon-16.Arrow2Right{ background-position: -425px 0; width: 16px; height: 16px; }
.icon-16.Arrow2Up{ background-position: -442px 0; width: 16px; height: 16px; }
.icon-16.Arrow2UpLeft{ background-position: -459px 0; width: 16px; height: 16px; }
.icon-16.Arrow2UpRight{ background-position: -476px 0; width: 16px; height: 16px; }
.icon-16.Arrow3Down{ background-position: -493px 0; width: 16px; height: 16px; }
.icon-16.Arrow3Left{ background-position: -510px 0; width: 16px; height: 16px; }
.icon-16.Arrow3Right{ background-position: -527px 0; width: 16px; height: 16px; }
.icon-16.Arrow3Up{ background-position: -544px 0; width: 16px; height: 16px; }
.icon-16.Attach{ background-position: -561px 0; width: 16px; height: 16px; }
.icon-16.AudioMessage{ background-position: -578px 0; width: 16px; height: 16px; }
.icon-16.BackTop{ background-position: -595px 0; width: 16px; height: 16px; }
.icon-16.Back{ background-position: -612px 0; width: 16px; height: 16px; }
.icon-16.Bubble1{ background-position: -629px 0; width: 16px; height: 16px; }
.icon-16.Bubble3{ background-position: -646px 0; width: 16px; height: 16px; }
.icon-16.Burn{ background-position: -663px 0; width: 16px; height: 16px; }
.icon-16.Calc{ background-position: -680px 0; width: 16px; height: 16px; }
.icon-16.Calendar{ background-position: -697px 0; width: 16px; height: 16px; }
.icon-16.Cancel{ background-position: -714px 0; width: 16px; height: 16px; }
.icon-16.Car{ background-position: -731px 0; width: 16px; height: 16px; }
.icon-16.Card1{ background-position: -748px 0; width: 16px; height: 16px; }
.icon-16.Card2{ background-position: -765px 0; width: 16px; height: 16px; }
.icon-16.Card3{ background-position: -782px 0; width: 16px; height: 16px; }
.icon-16.Card4{ background-position: -799px 0; width: 16px; height: 16px; }
.icon-16.Cart{ background-position: -816px 0; width: 16px; height: 16px; }
.icon-16.Cart2{ background-position: -833px 0; width: 16px; height: 16px; }
.icon-16.Cd{ background-position: -850px 0; width: 16px; height: 16px; }
.icon-16.ClipboardCopy{ background-position: -867px 0; width: 16px; height: 16px; }
.icon-16.ClipboardCut{ background-position: -884px 0; width: 16px; height: 16px; }
.icon-16.ClipboardPaste{ background-position: -901px 0; width: 16px; height: 16px; }
.icon-16.Clock{ background-position: -918px 0; width: 16px; height: 16px; }
.icon-16.Computer{ background-position: -935px 0; width: 16px; height: 16px; }
.icon-16.Contact{ background-position: -952px 0; width: 16px; height: 16px; }
.icon-16.Copyright{ background-position: -969px 0; width: 16px; height: 16px; }
.icon-16.Cube{ background-position: -986px 0; width: 16px; height: 16px; }
.icon-16.CurrencyDollar{ background-position: -1003px 0; width: 16px; height: 16px; }
.icon-16.CurrencyEuro{ background-position: -1020px 0; width: 16px; height: 16px; }
.icon-16.CurrencyPound{ background-position: -1037px 0; width: 16px; height: 16px; }
.icon-16.Database{ background-position: -1054px 0; width: 16px; height: 16px; }
.icon-16.DirectionDiag1{ background-position: -1071px 0; width: 16px; height: 16px; }
.icon-16.DirectionDiag2{ background-position: -1088px 0; width: 16px; height: 16px; }
.icon-16.DirectionHorz{ background-position: -1105px 0; width: 16px; height: 16px; }
.icon-16.DirectionVert{ background-position: -1122px 0; width: 16px; height: 16px; }
.icon-16.Directions{ background-position: -1139px 0; width: 16px; height: 16px; }
.icon-16.Discuss{ background-position: -1156px 0; width: 16px; height: 16px; }
.icon-16.DocumentNew{ background-position: -1173px 0; width: 16px; height: 16px; }
.icon-16.Document{ background-position: -1190px 0; width: 16px; height: 16px; }
.icon-16.Document2{ background-position: -1207px 0; width: 16px; height: 16px; }
.icon-16.DotsDown{ background-position: -1224px 0; width: 16px; height: 16px; }
.icon-16.DotsUp{ background-position: -1241px 0; width: 16px; height: 16px; }
.icon-16.Dots{ background-position: -1258px 0; width: 16px; height: 16px; }
.icon-16.Download{ background-position: -1275px 0; width: 16px; height: 16px; }
.icon-16.Email{ background-position: -1292px 0; width: 16px; height: 16px; }
.icon-16.Exclamation{ background-position: -1309px 0; width: 16px; height: 16px; }
.icon-16.Fbook{ background-position: -1326px 0; width: 16px; height: 16px; }
.icon-16.Flag{ background-position: -1343px 0; width: 16px; height: 16px; }
.icon-16.Folder{ background-position: -1360px 0; width: 16px; height: 16px; }
.icon-16.Folder2{ background-position: -1377px 0; width: 16px; height: 16px; }
.icon-16.Folder3{ background-position: -1394px 0; width: 16px; height: 16px; }
.icon-16.Footprint{ background-position: -1411px 0; width: 16px; height: 16px; }
.icon-16.Forbidden{ background-position: -1428px 0; width: 16px; height: 16px; }
.icon-16.FullScreen{ background-position: -1445px 0; width: 16px; height: 16px; }
.icon-16.FullSize{ background-position: -1462px 0; width: 16px; height: 16px; }
.icon-16.Game{ background-position: -1479px 0; width: 16px; height: 16px; }
.icon-16.Gear{ background-position: -1496px 0; width: 16px; height: 16px; }
.icon-16.Globe{ background-position: -1513px 0; width: 16px; height: 16px; }
.icon-16.GoIn{ background-position: -1530px 0; width: 16px; height: 16px; }
.icon-16.GoOut{ background-position: -1547px 0; width: 16px; height: 16px; }
.icon-16.Graph{ background-position: -1564px 0; width: 16px; height: 16px; }
.icon-16.Hand{ background-position: -1581px 0; width: 16px; height: 16px; }
.icon-16.HddNetwork{ background-position: -1598px 0; width: 16px; height: 16px; }
.icon-16.Hdd{ background-position: -1615px 0; width: 16px; height: 16px; }
.icon-16.Health{ background-position: -1632px 0; width: 16px; height: 16px; }
.icon-16.Heart{ background-position: -1649px 0; width: 16px; height: 16px; }
.icon-16.Home{ background-position: -1666px 0; width: 16px; height: 16px; }
.icon-16.Home2{ background-position: -1683px 0; width: 16px; height: 16px; }
.icon-16.Info{ background-position: -1700px 0; width: 16px; height: 16px; }
.icon-16.Info2{ background-position: -1717px 0; width: 16px; height: 16px; }
.icon-16.Ipod{ background-position: -1734px 0; width: 16px; height: 16px; }
.icon-16.Key{ background-position: -1751px 0; width: 16px; height: 16px; }
.icon-16.Light{ background-position: -1768px 0; width: 16px; height: 16px; }
.icon-16.Link{ background-position: -1785px 0; width: 16px; height: 16px; }
.icon-16.LockOpen{ background-position: -1802px 0; width: 16px; height: 16px; }
.icon-16.Lock{ background-position: -1819px 0; width: 16px; height: 16px; }
.icon-16.Loop{ background-position: -1836px 0; width: 16px; height: 16px; }
.icon-16.Luggage{ background-position: -1853px 0; width: 16px; height: 16px; }
.icon-16.Mail{ background-position: -1870px 0; width: 16px; height: 16px; }
.icon-16.Man{ background-position: -1887px 0; width: 16px; height: 16px; }
.icon-16.Microphone{ background-position: -1904px 0; width: 16px; height: 16px; }
.icon-16.Minus{ background-position: -1921px 0; width: 16px; height: 16px; }
.icon-16.Mobile{ background-position: -1938px 0; width: 16px; height: 16px; }
.icon-16.Mouse{ background-position: -1955px 0; width: 16px; height: 16px; }
.icon-16.Movie{ background-position: -1972px 0; width: 16px; height: 16px; }
.icon-16.Music{ background-position: -1989px 0; width: 16px; height: 16px; }
.icon-16.Music2{ background-position: 0 -17px; width: 16px; height: 16px; }
.icon-16.Nuke{ background-position: -17px -17px; width: 16px; height: 16px; }
.icon-16.Ok{ background-position: -34px -17px; width: 16px; height: 16px; }
.icon-16.Paragraph{ background-position: -51px -17px; width: 16px; height: 16px; }
.icon-16.Percent{ background-position: -68px -17px; width: 16px; height: 16px; }
.icon-16.Phone{ background-position: -85px -17px; width: 16px; height: 16px; }
.icon-16.Photo{ background-position: -102px -17px; width: 16px; height: 16px; }
.icon-16.Picture{ background-position: -119px -17px; width: 16px; height: 16px; }
.icon-16.PlayerEject{ background-position: -136px -17px; width: 16px; height: 16px; }
.icon-16.PlayerFastFwd{ background-position: -153px -17px; width: 16px; height: 16px; }
.icon-16.PlayerFastRev{ background-position: -170px -17px; width: 16px; height: 16px; }
.icon-16.PlayerNext{ background-position: -187px -17px; width: 16px; height: 16px; }
.icon-16.PlayerPause{ background-position: -204px -17px; width: 16px; height: 16px; }
.icon-16.PlayerPlay{ background-position: -221px -17px; width: 16px; height: 16px; }
.icon-16.PlayerPrevious{ background-position: -238px -17px; width: 16px; height: 16px; }
.icon-16.PlayerRecord{ background-position: -255px -17px; width: 16px; height: 16px; }
.icon-16.PlayerStop{ background-position: -272px -17px; width: 16px; height: 16px; }
.icon-16.Plus{ background-position: -289px -17px; width: 16px; height: 16px; }
.icon-16.Podcast{ background-position: -306px -17px; width: 16px; height: 16px; }
.icon-16.Pointer{ background-position: -323px -17px; width: 16px; height: 16px; }
.icon-16.Poll{ background-position: -340px -17px; width: 16px; height: 16px; }
.icon-16.Printer{ background-position: -357px -17px; width: 16px; height: 16px; }
.icon-16.Puzzle{ background-position: -374px -17px; width: 16px; height: 16px; }
.icon-16.Question{ background-position: -391px -17px; width: 16px; height: 16px; }
.icon-16.ReducedSize{ background-position: -408px -17px; width: 16px; height: 16px; }
.icon-16.Refresh{ background-position: -425px -17px; width: 16px; height: 16px; }
.icon-16.Rss1{ background-position: -442px -17px; width: 16px; height: 16px; }
.icon-16.Rss2{ background-position: -459px -17px; width: 16px; height: 16px; }
.icon-16.Save{ background-position: -476px -17px; width: 16px; height: 16px; }
.icon-16.Screen{ background-position: -493px -17px; width: 16px; height: 16px; }
.icon-16.Search{ background-position: -510px -17px; width: 16px; height: 16px; }
.icon-16.Security{ background-position: -527px -17px; width: 16px; height: 16px; }
.icon-16.Sitemap{ background-position: -544px -17px; width: 16px; height: 16px; }
.icon-16.SizeDiag1{ background-position: -561px -17px; width: 16px; height: 16px; }
.icon-16.SizeDiag2{ background-position: -578px -17px; width: 16px; height: 16px; }
.icon-16.SizeHorz{ background-position: -595px -17px; width: 16px; height: 16px; }
.icon-16.SizeVert{ background-position: -612px -17px; width: 16px; height: 16px; }
.icon-16.Sleep{ background-position: -629px -17px; width: 16px; height: 16px; }
.icon-16.Smiley1{ background-position: -646px -17px; width: 16px; height: 16px; }
.icon-16.Smiley2{ background-position: -663px -17px; width: 16px; height: 16px; }
.icon-16.Smiley3{ background-position: -680px -17px; width: 16px; height: 16px; }
.icon-16.SoundMinus{ background-position: -697px -17px; width: 16px; height: 16px; }
.icon-16.SoundOff{ background-position: -714px -17px; width: 16px; height: 16px; }
.icon-16.SoundOn{ background-position: -731px -17px; width: 16px; height: 16px; }
.icon-16.SoundPlus{ background-position: -748px -17px; width: 16px; height: 16px; }
.icon-16.Standby{ background-position: -765px -17px; width: 16px; height: 16px; }
.icon-16.Star{ background-position: -782px -17px; width: 16px; height: 16px; }
.icon-16.Start{ background-position: -799px -17px; width: 16px; height: 16px; }
.icon-16.Stats3{ background-position: -816px -17px; width: 16px; height: 16px; }
.icon-16.Stats{ background-position: -833px -17px; width: 16px; height: 16px; }
.icon-16.Stats2{ background-position: -850px -17px; width: 16px; height: 16px; }
.icon-16.Table{ background-position: -867px -17px; width: 16px; height: 16px; }
.icon-16.Tag{ background-position: -884px -17px; width: 16px; height: 16px; }
.icon-16.Tape{ background-position: -901px -17px; width: 16px; height: 16px; }
.icon-16.Target{ background-position: -918px -17px; width: 16px; height: 16px; }
.icon-16.TextLarge{ background-position: -935px -17px; width: 16px; height: 16px; }
.icon-16.TextMeduim{ background-position: -952px -17px; width: 16px; height: 16px; }
.icon-16.TextMinus{ background-position: -969px -17px; width: 16px; height: 16px; }
.icon-16.TextPlus{ background-position: -986px -17px; width: 16px; height: 16px; }
.icon-16.TextSmall{ background-position: -1003px -17px; width: 16px; height: 16px; }
.icon-16.ThumbDown{ background-position: -1020px -17px; width: 16px; height: 16px; }
.icon-16.ThumbUp{ background-position: -1037px -17px; width: 16px; height: 16px; }
.icon-16.Tool{ background-position: -1054px -17px; width: 16px; height: 16px; }
.icon-16.Tool2{ background-position: -1071px -17px; width: 16px; height: 16px; }
.icon-16.Trackback{ background-position: -1088px -17px; width: 16px; height: 16px; }
.icon-16.Trash{ background-position: -1105px -17px; width: 16px; height: 16px; }
.icon-16.Travel{ background-position: -1122px -17px; width: 16px; height: 16px; }
.icon-16.Tree{ background-position: -1139px -17px; width: 16px; height: 16px; }
.icon-16.Tv{ background-position: -1156px -17px; width: 16px; height: 16px; }
.icon-16.User{ background-position: -1173px -17px; width: 16px; height: 16px; }
.icon-16.Video{ background-position: -1190px -17px; width: 16px; height: 16px; }
.icon-16.Wait{ background-position: -1207px -17px; width: 16px; height: 16px; }
.icon-16.Warning{ background-position: -1224px -17px; width: 16px; height: 16px; }
.icon-16.WeatherCloud{ background-position: -1241px -17px; width: 16px; height: 16px; }
.icon-16.WeatherCouldSun{ background-position: -1258px -17px; width: 16px; height: 16px; }
.icon-16.WeatherRain{ background-position: -1275px -17px; width: 16px; height: 16px; }
.icon-16.WeatherSnow{ background-position: -1292px -17px; width: 16px; height: 16px; }
.icon-16.WeatherSun{ background-position: -1309px -17px; width: 16px; height: 16px; }
.icon-16.Wizard{ background-position: -1326px -17px; width: 16px; height: 16px; }
.icon-16.Woman{ background-position: -1343px -17px; width: 16px; height: 16px; }
.icon-16.Wordpress{ background-position: -1360px -17px; width: 16px; height: 16px; }
.icon-16.Write{ background-position: -1377px -17px; width: 16px; height: 16px; }
.icon-16.Write2{ background-position: -1394px -17px; width: 16px; height: 16px; }
.icon-16.Write3{ background-position: -1411px -17px; width: 16px; height: 16px; }
.icon-16.ZoomIn{ background-position: -1428px -17px; width: 16px; height: 16px; }
.icon-16.ZoomOut{ background-position: -1445px -17px; width: 16px; height: 16px; }

.icon-16 {
	padding-left: 16px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.icon-16, icon-16.green { background-image: url("csg-4e5bfda312739.png"); }
.icon-16.red {background-image: url("csg-4e5c1a713c3cd.png"); }
.icon-16.grey, .icon-16.disabled {background-image: url("csg-4e5c1a041c722.png"); }
.icon-16:hover, .icon-16.blue { background-image: url("csg-4e5bff186702b.png");}

.icon-16 + .icon-16 {
	margin-left: 3px;
}
